<div class="w-full h-screen bg-nighttop font-fira-code text-lg flex flex-col justify-center items-center">

    <div class="search w-1/2 py-6">
        <h2 class="text-3xl font-bold text-purple1 pb-2">
            Search
            <p class="text-sm">by city, or the first 3 characters of zip/postal code</p>
        </h2>
        <form #form="ngForm" (submit)="onSubmit()">
            <input type="text" name="city"
                class="text-lg p-4 w-full rounded-xs"    
            [(ngModel)]="city">
        </form>
    </div>

    <div class="container w-1/2 h-3/5 xl:w-1/3 shadow-nightbottom rounded-sm
 bg-purple1" *ngIf="data">

        <div class="top-display relative w-full h-1/3 overflow-hidden rounded-t-sm">

            <img src="../assets/night-clear.png" *ngIf="(this.time >= 13) && data.current.cloud < 40"
                class="absolute">
            <img src="../assets/night-cloudy.png" *ngIf="(this.time >= 13) && data.current.cloud > 40"
                class="absolute">
            <img src="../assets/day-clear.png" *ngIf="(this.time < 13) && data.current.cloud < 40"
                class="absolute">
            <img src="../assets/day-cloudy.png" *ngIf="(this.time < 13) && data.current.cloud > 40"
                class="absolute">

            <div
                class="relative w-full h-full bg-gradient-to-t from-purpledark flex flex-col justify-center items-center">

                <div class="text-2xl font-semibold text-purple1 text-center font-fira-sans">
                    {{ data.location.name }}
                </div>

                <div class="text-6xl font-bold text-purple1 text-center">

                    {{ data.current.temp_c | number: '1.0-0' }}°C

                </div>

                <div class="text-xl mt-2 absolute bottom-0 font-semibold text-purple1 text-center font-fira-sans">
                    {{ data.location.localtime | date: 'short' }}
                </div>

            </div>

        </div>

        <div class="bottom-display relative w-full h-2/3 overflow-hidden rounded-b-xs flex flex-col">

            <div class="flex flex-1 flex-row flex-wrap rounded-b-sm mt-1
                        bg-gradient-to-t from-purplelight">

                <div class="w-full flex flex-col justify-center items-center 
                            font-bold text-purple3">
                    Today
                </div>

                <div class="w-full flex flex-row">

                    <div class="w-1/3 flex flex-col justify-start items-center
                                font-semibold text-3xl">
                        {{ data.forecast.forecastday[0].day.maxtemp_c | number: '1.0-0' }}°C
                    </div>

                    <div class="w-1/3 flex flex-col justify-start items-center
                                font-semibold text-3xl">
                        {{ data.forecast.forecastday[0].day.mintemp_c | number: '1.0-0' }}°C
                    </div>

                    <div class="w-1/3 flex flex-col justify-start items-center
                                font-fira-sans font-semibold">
                        {{ data.forecast.forecastday[0].day.condition.text }}
                    </div>

                </div>

                <div class="w-full flex flex-col justify-center items-center 
                font-bold text-purple3">
                    3-Day Forecast
                </div>


                <div class="w-full flex flex-row">

                    <div class="w-4/12 flex flex-col justify-start items-center">

                        <div class="w-2/4 flex flex-col justify-start items-center
                    font-semibold text-3xl">
                            {{ data.forecast.forecastday[0].day.avgtemp_c | number: '1.0-0' }}°C
                        </div>


                        <div class="w-2/4 flex flex-col justify-start items-center
                    font-fira-sans font-semibold">
                            {{ data.forecast.forecastday[0].day.condition.text }}
                        </div>

                    </div>

                    <div class="w-4/12 flex flex-col justify-start items-center">

                        <div class="w-2/4 flex flex-col justify-start items-center
                    font-semibold text-3xl">
                            {{ data.forecast.forecastday[1].day.avgtemp_c | number: '1.0-0' }}°C
                        </div>


                        <div class="w-2/4 flex flex-col justify-start items-center
                    font-fira-sans font-semibold">
                            {{ data.forecast.forecastday[1].day.condition.text }}
                        </div>

                    </div>

                    <div class="w-4/12 flex flex-col justify-start items-center">

                        <div class=" w-2/4 flex flex-col justify-start items-center
                    font-semibold text-3xl">
                            {{ data.forecast.forecastday[2].day.avgtemp_c | number: '1.0-0' }}°C
                        </div>


                        <div class="w-2/4 flex flex-col justify-start items-center
                    font-fira-sans font-semibold">
                            {{ data.forecast.forecastday[2].day.condition.text }}
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>

<router-outlet></router-outlet>